@import "tailwindcss";

@keyframes loading {
    0% {
        transform: scaleX(0);
    }

    40% {
        transform: scaleX(0.45);
    }

    80% {
        transform: scaleX(0.85);
    }

    100% {
        transform: scaleX(1);
    }
}